div.content.subscribe.js-switch-form
    div.subscribe-title.title-1 Бонусы за подписку
    form(method="" action="").subscribe-form.clearfix
        input(type="email" placeholder="Введите e-mail").subscribe-email.error.__small
        input(type="button" value="Подписаться").button.subscribe-btn
        div.error-msg Поле заполнено не верно