.subscribe
	padding 0
	&.__active
		box-shadow: 0 0 20px #bdbbbb;
		border-color: #fff;
		margin-top -40px
		+below($rebuild)
			margin-top 0
		&:before
			content: '';
			display: block;
			width: 100%;
			background: #fff;
			height: 40px;
			+below($rebuild)
				height 0
		& ^[0]-form
			display block
		& ^[0]-title
			&:after
				width: 31px;
				height: 19px;
				top: 60px;
				background images('icons/detail-arrow-open.png') no-repeat
				+below($default)
					top 50px
				+below($rebuild)
					top 20px

			&:before
				width 90px
				height 98px
				top -13px
				z-index 2
				background images("icons/subscribe-open.png") no-repeat
	&-title
		padding 38px 20px 27px 143px
		cursor pointer
		position relative
		+below($default)
			font-size 28px
			&:after
				top 40px
		+below($rebuild)
			padding 20px 45px 20px 20px
			font-size 20px
			&:before
				display none
			&:after
				margin-top: -20px;

		&:after
			content ''
			display block
			position absolute
			width 19px
			height 31px
			top: 40px;
			right: 20px;
			background images('icons/detail-arrow.png') no-repeat
		&:before
			content ''
			position absolute
			top 27px
			left 20px
			width 90px
			height 58px
			background images("icons/subscribe.png") no-repeat

	&-form
		display none
		padding 10px 20px 45px
		+below($rebuild)
			padding 10px 15px
	&-email
		float left
		width 68%
		border 1px solid $LIGHT_GREY
		+below($rebuild)
			float none
			width 100%
			margin-bottom 10px
	&-btn, .promo-block-btn
		float right
		width 28%
		padding-left 0
		padding-right 0
		+below($rebuild)
			float none
			width 100%

.promo-block-text
	float left
	width 68%
	border 1px solid $LIGHT_GREY
	+below($rebuild)
		float none
		width 100%
		margin-bottom 10px
.promo-block-btn
	float right
	width 28%
	padding-left 0
	padding-right 0
	+below($rebuild)
		float none
		width 100%
