footer.footer.wrapper
    div.footer-menu.clearfix
        each item in getData('footer-menu.json')
            div.footer-menu-item
                if (currentPageTitle == item.name )
                    span.footer-menu-link.__current= item.name
                else
                    a(href="#{item.link}").footer-menu-link= item.name

    a(href="tel:+78123414222").footer-phone +7 (812) 341-42-22

    div.footer-line.clearfix
        div.social
            a(href="#" target="_blank" rel="nofollow").social-item.__vk
            a(href="#" target="_blank" rel="nofollow").social-item.__fb
            a(href="#" target="_blank" rel="nofollow").social-item.__insta

        a(href="#" target="_blank" rel="nofollow").footer-market
            img(src="./template/images/icons/appstore.png" alt="" title="")

    p.align-center © 2011-2016 iPort - Магазины #[nobr Apple Premium Reseller]
    p.align-center
        a(href="http://iport.ru") Полная версия сайта







