footer.footer
    .wrapper.footer__wrapper
        div.footer__menu
            include ../menu/menu
        div.footer__line
            +logo(currentPageTitle, 'footer')

            include ../email/email