div.js-main-slider.gallery
    div.gallery-item
        img(src="http://www.iport.ru.opt-images.1c-bitrix-cdn.ru/upload/files/product/iPhone5s_silver1_0.jpg" alt="" title="").gallery-image
    div.gallery-item
        img(src="http://www.iport.ru.opt-images.1c-bitrix-cdn.ru/upload/files/product/iPhone5s_silver0_0.JPG" alt="" title="").gallery-image
