extends ./modules/layout/layout

block vars
    -var currentPageTitle = ["Форматирование текста"]
    -var inner = true
    -var hideHeader = true
    -var hideFooter = true
block block-content
    .wrapper
        for t in [1,2,3,4,5,6]
            !='<h' + t + '>Заголовок тег ' + t + ' [ h' + t + ' || class="title-' + t + '" ]</h' + t + '>'

        -var textTags = []
        -textTags[0] = ["Жирный", "b", "bold"]
        -textTags[1] = ["Жирный", "strong", "bold"]
        -textTags[2] = ["Курсивный", "i", "italic"]
        -textTags[3] = ["Выделенный", "em", "em"]
        -textTags[4] = ["выделенный", "mark", "mark"]
        -textTags[5] = ["Подчёркнутый", "u", "underline"]
        -textTags[6] = ["Короткий цитированный", "q"]
        -textTags[7] = ["Код", "code"]
        -textTags[8] = ["Удаленный", "del"]
        -textTags[9] = ["Вставленный", "ins"]
        -textTags[10] = ["Устаревший", "s"]
        -textTags[11] = ["Маленький", "small", "small"]
        -textTags[12] = ["Нижнего индекса", "sub"]
        -textTags[13] = ["Верхнего индекса", "sup"]
        -textTags[14] = ["", ""]
        -textTags[15] = ["", ""]
        -textTags[16] = ["", ""]
        -textTags[17] = ["", ""]
        -textTags[18] = ["", ""]

        for txt in textTags
            if txt[0].length > 0 && txt[1].length
                p!="<" + txt[1] + ">" + txt[0] + "</" + txt[1] + "> текст <br>тег &#60;" + txt[1] + "&#62;" + (txt[2] ? ' || class="' + txt[2] + '"' : '')

        p
            span.big Большой$nbsp;
            |текст  тег &#60;span class="big"&#62;

        p
            a(href="#") Ссылка

        br

        blockquote
            p Текст цитаты
            p Lorem ipsum dolor sit amet.
            p Ipsum atque amet, quas sint.
            p Incidunt, perspiciatis sequi veritatis nobis.
            p Distinctio laudantium sit, modi impedit!
            p A beatae recusandae nihil cum.

        p
            b линия
        hr
        p
            b разделения

        ul
            li Lorem ipsum dolor.
            li Eum, dolores, quia?
            li Doloremque, itaque, nostrum.
                ol
                    li Obcaecati, delectus, sapiente.
                    li Officia dolorem, vitae.
                    li Fugiat, vitae, maxime.
                    li Accusamus doloribus, consequatur?
                    li Deleniti, dicta, ipsum?
            li Impedit, eaque, saepe.
            li Alias aut, dolorum.
                ul
                    li Dignissimos in, voluptate.
                    li Nulla, possimus, vel.
                    li Optio, cumque, quam.
                    li Et rerum, enim!
                    li Itaque, accusamus, quasi.
        ol
            li Iure, nihil, debitis.
            li Mollitia, reiciendis excepturi.
                ul
                    li Earum aperiam, doloribus.
                    li Dignissimos, sed laborum!
                    li Ex, ut, iusto.
                    li Saepe, laborum labore.
                    li Eaque nam, expedita!
            li Ipsam, neque, velit!
                ol
                    li Ad, eius veniam?
                    li Eaque, dolor, ducimus.
                    li Perferendis, quos, explicabo.
                    li Qui, et porro!
                        ol
                            li Praesentium, minima, aliquid.
                            li Quia odit, omnis.
                            li Molestiae, ullam suscipit.
                    li Porro, minima, quos.
            li Aliquid, repellendus. Accusamus?
            li Et, doloribus labore?

        .table-wrapper
            table
                tr
                    th(colspan="2").__title Lorem ipsum dolor.
                tr
                    th Lorem ipsum dolor.
                    td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                tr
                    th Veniam, qui, est?
                    td Sequi, sapiente, rem. Est deserunt possimus illo quisquam.
                tr
                    th Alias sed, numquam.
                    td Illum, vel? Fugiat temporibus adipisci minus dolorem totam.

        .table-wrapper
            table
                tr
                    th Lorem ipsum dolor.
                    th Soluta, nam, officiis.
                tr
                    td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, doloribus.
                    td Recusandae deleniti aut error, explicabo, veniam fugit molestias? Deleniti, perspiciatis.
                tr
                    td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, dicta.
                    td Debitis tempore vitae accusantium accusamus dolor, voluptas tenetur quaerat, earum.
                tr
                    td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, non.
                    td Ut dolorum natus quod distinctio aut excepturi dicta harum omnis.
                tr
                    td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, placeat.
                    td Repellat numquam excepturi, asperiores rerum! Tempora ipsa incidunt, vel aut.
                tr
                    td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, qui.
                    td Dolorem totam maxime, dolores officiis? Numquam distinctio minus porro tempore.