extends ./modules/layout/layout

block vars
    -var currentPageTitle = ["UI"]
    -var hideHeader = true
    -var hideFooter = true
block block-content
    +breadcrumbs([currentPageTitle], '>', true)
    .wrapper
        form(action="").form
            div.form-title.title-3 Заголовок формы
            div.form-item
                label Поле ввода
                input(type="text", name="" placeholder="Поле ввода").error
                .error-msg Поле обязательно для заполнения
            div.form-item
                label Выпадающий список
                select
                    option Выберите пункт
                    option Выберите пункт
                    option Выберите пункт

            div.form-item
                label Выпадающий дефолтный список
                select.error.__default
                    option Выберите пункт
                    option Выберите пункт
                    option Выберите пункт
                div.error-msg Заполните поле
            div.form-item
                label Combobox
                select(class="js-combobox _default")
                    //| <option value="1">Выбериите город</option>
                    //| <option value="Абаза">Абаза</option>
                    //| <option value="Абакан">Абакан</option>
                    //| <option value="Абдулино">Абдулино</option>
                    //| <option value="Абинск">Абинск</option>
                    //| <option value="Агидель">Агидель</option>
                    //| <option value="Агрыз">Агрыз</option>
                    //| <option value="Адыгейск">Адыгейск</option>
                    //| <option value="Азнакаево">Азнакаево</option>
                    //| <option value="Азов">Азов</option>
                    //| <option value="Ак-Довурак">Ак-Довурак</option>
                    //| <option value="Аксай">Аксай</option>
                    //| <option value="Алагир">Алагир</option>

            div.form-item.error
                label Combobox
                select(class="js-combobox _default")
                    //| <option value="1">Выбериите город</option>
                    //| <option value="Абаза">Абаза</option>
                    //| <option value="Абакан">Абакан</option>
                    //| <option value="Абдулино">Абдулино</option>
                    //| <option value="Абинск">Абинск</option>
                    //| <option value="Агидель">Агидель</option>
                    //| <option value="Агрыз">Агрыз</option>
                    //| <option value="Адыгейск">Адыгейск</option>
                    //| <option value="Азнакаево">Азнакаево</option>
                    //| <option value="Азов">Азов</option>
                    //| <option value="Ак-Довурак">Ак-Довурак</option>
                    //| <option value="Аксай">Аксай</option>
                    //| <option value="Алагир">Алагир</option>
                div.error-msg Заполните поле
            div.form-item
                label Радиобоксы
                div.form-item
                    input(type="radio" id="action-11" name="test" checked="")
                    label(for="action-11") Летний сезон подарков открыт!
                div.form-item
                    input(type="radio" id="action-22" name="test")
                    label(for="action-22") В лето вместе с JBL!
                div.form-item
                    input(type="radio" id="action-33" name="test")
                    label(for="action-33") 500 р. В нашу пользу!
            div.form-item
                label Чекбоксы
                div.form-item
                    input(type="checkbox" id="action-1" checked="")
                    label(for="action-1") Летний сезон подарков открыт!
                div.form-item
                    input(type="checkbox" id="action-2")
                    label(for="action-2") В лето вместе с JBL!
                div.form-item
                    input(type="checkbox" id="action-3")
                    label(for="action-3") 500 р. В нашу пользу!
            div.form-item
                label Чекбоксы
                div.form-item.error
                    input(type="checkbox" id="action-111" checked="")
                    label(for="action-111") Летний сезон подарков открыт!
                div.form-item.error
                    input(type="radio" id="action-222" checked="")
                    label(for="action-222") В лето вместе с JBL!
            div.form-item
                label Текстовый блок
                textarea
            div.form-item
                input(type="submit", value="Отправить").button.__big.__wide
