extends ./modules/layout/layout
block vars
    -var currentPageTitle = "Каталог"
block title
    title= currentPageTitle

block block-content
    +breadcrumbs(['Компьютеры Apple Mac', 'MacBook 12'], '>', true)

    div.wrapper
        div.heading
            h1 MacBook 12
        include modules/filter/filter
        include modules/catalog/catalog
