extends ./modules/layout/layout
block vars
    -var currentPageTitle = "Сравнение (3)"
block title
    title= currentPageTitle
block block-content
    +breadcrumbs([currentPageTitle ], '>', true)
    div.wrapper
        div.heading
            h1=currentPageTitle
        div.content
            div.tab.__double.clearfix
                a(href="#").tab-item.__active Все параметры
                a(href="#").tab-item Различающиеся
            include modules/compare/compare

        include modules/subscribe/subscribe