extends ./modules/layout/layout
block vars
    -var currentPageTitle = "Карточка товара"
block title
    title= currentPageTitle

block block-content
    +breadcrumbs(['Компьютеры Apple Mac', 'Apple iPhone 5s как новый 16GB Space Gray'], '>', true)
    div.wrapper
        div.heading
            h1 Apple iPhone 5s как новый 16GB Space Gray
            p Код товара:40389 P/N:ME433RU/A
        div.content
            include modules/gallery/gallery
            div.catalog-colors
                span.catalog-colors-text Другие цвета
                a(href="#").catalog-colors-item
                    img(src="http://www.iport.ru.opt-images.1c-bitrix-cdn.ru/upload/files/product/iPhone5s_silver1_0.jpg" alt="" title="")
                a(href="#").catalog-colors-item
                    img(src="http://www.iport.ru.opt-images.1c-bitrix-cdn.ru/upload/files/product/iPhone5s_space0.JPG?146044729198325" alt="" title="")

        div.catalog-item-info.clearfix
            div.catalog-item-price 139 000  #[span.rouble a]
            div.catalog-price-old Старая цена:
                span 94 290 <span class="rouble">a</span>

        div.catalog-item-action
            a(href="#").button.__add-basket.__big В корзину
            div.catalog-item-action-info Привезем для вас к 14.07.2016
            div.catalog-item-action-info В наличии
                a(href="#") в 14 магазинах

            button.button-inverse Купить в кредит от 8 450 р. в месяц
            a(href="#").catalog-compare  В сравнение

        div.heading.js-toggle-btn.catalog-toggle.__active(data-default="")
            div.title-1 Аксессуары
        div.content.catalog-toggle-desc
            div.products-slider.js-catalog-slider.__line
                -for(var i = 0; i < 2; i++)
                    -each item, index in getData('products.json')
                        +catalogItem(item, index)

        div.catalog-item-content
            div.heading.js-toggle-btn.catalog-toggle(data-default="")
                div.title-1 Описание
            div.content.catalog-toggle-desc
                |<p align="left"><strong>Датчик идентификации по отпечатку пальца Touch ID</strong> - Приложите палец к кнопке «Домой» и ваш iPhone разблокирован. При помощи отпечатка пальца можно также подтверждать покупки в iTunes или App Store</p>
                |<p align="left"><strong>Процессоры A7 и M7</strong> - 64-разрядный процессор A7 отличается высокой производительностью и скоростью обработки графики. При этом часть задач выполняется сопроцессором движения M7, что позволяет iPhone 5s эффективнее потреблять энергию</p>
                |<p align="left"><strong>8-мегапиксельная камера iSight</strong> - Крупный датчик и широкая диафрагма ƒ/2.2. Вспышка True Tone. Серийная съëмка и ускоренная запись видео. Сделать хороший кадр с помощью 8-мегапиксельной камеры iSight очень легко</p>
                |<p align="left"><strong>Высокоскоростная беспроводная связь LTE</strong> - iPhone 5s поддерживает диапазоны высокоскоростной связи 4G LTE по всему миру</p>
                |<p align="left"><strong>Самая серьёзная мобильная операционнная система. Теперь ещё серьёзнее - </strong>Каждый день вы будете замечать всё новые и новые улучшения в iOS 9. Чем больше вы пользуетесь iOS 9, тем больше удивляетесь, как жили без неё раньше</p>

            div.heading.js-toggle-btn.catalog-toggle(data-default="")
                div.title-1 Характеристики
            div.content.catalog-toggle-desc
                div.catalog-options-title Экран
                div.catalog-options.clearfix
                    div.catalog-options-name Разрешение экрана:
                    div.catalog-options-desc 1136x640

                    div.catalog-options-name Тип сенсорного экрана:
                    div.catalog-options-desc емкостный (multitouch)

                    div.catalog-options-name Диагональ (дюймов):
                    div.catalog-options-desc 4

                div.catalog-options-title Экран
                div.catalog-options.clearfix
                    div.catalog-options-name Разрешение экрана:
                    div.catalog-options-desc 1136x640

                    div.catalog-options-name Тип сенсорного экрана:
                    div.catalog-options-desc емкостный (multitouch)

                    div.catalog-options-name Диагональ (дюймов):
                    div.catalog-options-desc 4


        include modules/subscribe/subscribe