extends ./modules/layout/layout
block vars
    -var currentPageTitle = "Главная страница"
block title
    title= currentPageTitle

block block-content
    include ./modules/main-slider/main-slider
    include ./modules/category_main/category_main
    .wrapper
        include modules/products/products
        include modules/news/news
        include modules/subscribe/subscribe
        include modules/benefits/benefits