extends ./modules/layout/layout
block vars
    -var currentPageTitle = "Главная страница"
block title
    title= currentPageTitle

block block-content
    h2 Заголовок второго уровня!!
    h5 Все хорошо! подвис ты чего то!почему?


    -console.log(getData('header.json'));