extends ./modules/layout/layout
block vars
    -var currentPageTitle = "Личный кабинет"
block title
    title= currentPageTitle
block block-content
    +breadcrumbs([currentPageTitle ], '>', true)
    div.wrapper
        div.heading.__inline
            h1=currentPageTitle
            a(href="#").button.__logout Выйти
        div.content
            div.title-4.__gray Здравствуйте, Алексей Дубняк!

            div.heading.js-toggle-btn.catalog-toggle.__active(data-default="small")
                div.title-2 Мои заказы
            div.catalog-list-cabinet
                div.tab.__double.clearfix
                    div.tab-item.__active Текущие заказы
                    a(href="#").tab-item История заказов
                div.catalog-item.clearfix
                    a(href="#").catalog-title Apple iMac 21.5" Late 2015 (MK142RU/A)
                    div.catalog-left
                        a(href="#").catalog-preview
                            img(src="./template/images/examples/catalog.png" alt="" title="")
                    div.catalog-right.catalog-info
                        div.catalog-price-old Старая цена:
                            span 94 290 <span class="rouble">a</span>
                        div.catalog-item-price 139 000  #[span.rouble a]
                        p Оплачен, будет доставлен к 26.07.2016 бесплатно
                div.catalog-item.clearfix
                    a(href="#").catalog-title Apple iMac 21.5" Late 2015 (MK142RU/A)
                    div.catalog-left
                        a(href="#").catalog-preview
                            img(src="./template/images/examples/catalog.png" alt="" title="")
                    div.catalog-right.catalog-info
                        div.catalog-price-old Старая цена:
                            span 94 290 <span class="rouble">a</span>
                        div.catalog-item-price 19 000  #[span.rouble a]
                        p Оплачен, будет доставлен к 26.07.2016 бесплатно

            div.heading.js-toggle-btn.catalog-toggle.__active(data-default="small")
                div.title-2 Личные данные
            div.catalog-list-cabinet
                form(action="" method="").form
                    div.form-item
                        label Имя
                        input(type="text")
                    div.form-item
                        label Фамилия
                        input(type="text")
                    div.form-item
                        label Отчество
                        input(type="text")
                    div.form-item
                        label Телефон
                        input(type="text" data-mask="+7 (999) 999-99-99")
                    div.form-separate
                    div.form-item
                        label Новый пароль
                        input(type="password")
                    div.form-item
                        input(type="password")
                    div.form-separate
                    div.title-3 Адрес доставки
                    div.form-item
                        p.js-address-no-message На данный момент активных записей в адресной книге нет. <br/>Вы можете добавить адрес:
                        button.button-inverse.js-lk-address-add Добавить еще адрес
                    div.hidden.js-lk-address-item-blank.js-lk-address-item
                        div.form-item
                            label Город
                            select(name="address_user[{index}][city]" class="js-combobox _default")
                                |<option value="">Выбериите город</option>
                                |<option value="Абаза">Абаза</option>
                                |<option value="Абакан">Абакан</option>
                                |<option value="Абдулино">Абдулино</option>
                                |<option value="Абинск">Абинск</option>
                                |<option value="Агидель">Агидель</option>
                                |<option value="Агрыз">Агрыз</option>
                                |<option value="Адыгейск">Адыгейск</option>
                                |<option value="Азнакаево">Азнакаево</option>
                                |<option value="Азов">Азов</option>
                                |<option value="Ак-Довурак">Ак-Довурак</option>
                                |<option value="Аксай">Аксай</option>
                                |<option value="Алагир">Алагир</option>

                        div.form-item
                            label Улица
                            input(type="text")
                        div.form-item.clearfix.__third
                            div.form-item-third
                                label Дом
                                input(type="text")
                            div.form-item-third
                                label Корпус
                                input(type="text")
                            div.form-item-third
                                label Квартира
                                input(type="text")
                        div.form-item
                            |<input name="number_block" type="hidden" value="{index}" class="cabinet-adress_value js-blank-new-input">
                            |<input name="address_user[{index}][action]" type="hidden" class="cabinet-adress_value js-blank-new-input js-address-action-type">
                            |<input name="address_user[{index}][id]" type="hidden" value="" class="cabinet-adress_value js-blank-new-input js-address-block-id">
                     ol
                        li
                            b Санкт-Петербург, Константиновский , д. 5
                            p
                                a(href="#").js-cabinet-address_edit Изменить адрес
                                a(hef="#").__gray Удалить адрес

                    div.form-separate
                    div.form-item
                        div.title-3 Свяжите свой профиль с профилем социальной сети
                        div.social-login.form-item
                            | <a href="#" target="_blank" rel="nofollow" class="social-item __vk"></a>
                            | <a href="#" target="_blank" rel="nofollow" class="social-item __fb"></a>
                        p.__gray Ваши связанные профили:
                        p
                            <a href="#" target="_blank" rel="nofollow" class="social-item __vk __login">Максим Цыкарев</a>
                            a(href="#").__gray Удалить
                        p
                            <a href="#" target="_blank" rel="nofollow" class="social-item __fb __login">Максим Цыкарев</a>
                            a(href="#").__gray Удалить

                    input(type="submit" value="Сохранить данные").button.__big.__wide

            div.heading.js-toggle-btn.catalog-toggle.__active(data-default="small")
                div.title-2 Подписка
            div.catalog-list-cabinet
                form(action="" method="").form
                    div.form-item
                        input(type="checkbox" id="action-11" name="test")
                        label(for="action-11") Название подписки
                    div.form-item
                        input(type="checkbox" id="action-22" name="test")
                        label(for="action-22") Название подписки
                    div.form-item
                        input(type="checkbox" id="action-33" name="test")
                        label(for="action-33") Название подписки
                    input(type="submit" value="Изменить подписку").button.__big.__wide
