extends ./modules/layout/layout
block vars
    -var currentPageTitle = "Корзина (3)"
block title
    title= currentPageTitle
block block-content
    +breadcrumbs([currentPageTitle ], '>', true)
    div.wrapper
        div.heading
            h1=currentPageTitle
        form(method="" action="").form
            div.catalog
                div.catalog-item.clearfix.__basket
                    a(href="#").catalog-remove-basket
                    a(href="#").catalog-title Apple iMac 21.5" Late 2015 (MK142RU/A)
                    small Код товара:40389   P/N:ME433RU/A

                    div.catalog-left
                        a(href="#").catalog-preview
                            img(src="./template/images/examples/catalog.png" alt="" title="")
                    div.catalog-right.catalog-info
                        div.catalog-price-old Старая цена:
                            span 94 290 <span class="rouble">a</span>
                        div.catalog-item-price.__wide 139 000  #[span.rouble a]
                        div.counter
                            div.counter-item.__negative
                            input(type="text" value="1").counter-text
                            div.counter-item.__positive
                div.catalog-item.clearfix.__basket
                    a(href="#").catalog-remove-basket
                    a(href="#").catalog-title Apple iMac 21.5" Late 2015 (MK142RU/A)
                    small Код товара:40389   P/N:ME433RU/A

                    div.catalog-left
                        a(href="#").catalog-preview
                            img(src="./template/images/examples/catalog.png" alt="" title="")
                    div.catalog-right.catalog-info
                        div.catalog-price-old Старая цена:
                            span 94 290 <span class="rouble">a</span>
                        div.catalog-item-price.__wide 139 000  #[span.rouble a]
                        div.counter
                            div.counter-item.__negative
                            input(type="text" value="1").counter-text
                            div.counter-item.__positive
                div.catalog-item.clearfix.__basket
                    a(href="#").catalog-remove-basket
                    a(href="#").catalog-title Apple iMac 21.5" Late 2015 (MK142RU/A)
                    small Код товара:40389   P/N:ME433RU/A

                    div.catalog-left
                        a(href="#").catalog-preview
                            img(src="./template/images/examples/catalog.png" alt="" title="")
                    div.catalog-right.catalog-info
                        div.catalog-price-old Старая цена:
                            span 94 290 <span class="rouble">a</span>
                        div.catalog-item-price.__wide 139 000  #[span.rouble a]
                        div.counter
                            div.counter-item.__negative
                            input(type="text" value="1").counter-text
                            div.counter-item.__positive

            div.heading.js-toggle-btn.catalog-toggle.__active(data-default="")
                div.title-1 Аксессуары
            div.content.catalog-toggle-desc
                div.products-slider.js-catalog-slider.__line
                    -for(var i = 0; i < 2; i++)
                        -each item, index in getData('products.json')
                            +catalogItem(item, index)

            div.heading.js-toggle-btn.catalog-toggle.__active(data-default="")
                div.title-1 Способ получения заказа
            div.catalog-toggle-block
                div.catalog-item
                    input(type="radio" name="type_delivery" id="delivery_1" checked)
                    label(for="delivery_1") Самовывоз из магазина
                    div.catalog-delivery
                        select
                            option м. Проспект Просвещения - iPort в ТРК "Гранд-Каньон" - пр. Энгельса, д.154 - 12.08.2016
                            option м. Проспект Просвещения - iPort в ТРК "Гранд-Каньон" - пр. Энгельса, д.154 - 12.08.2016
                            option м. Проспект Просвещения - iPort в ТРК "Гранд-Каньон" - пр. Энгельса, д.154 - 12.08.2016

                div.catalog-item
                    input(type="radio" name="type_delivery" id="delivery_2")
                    label(for="delivery_2") Доставка курьером
                    div.catalog-delivery
                        div.title-3 Адрес доставки:
                        div.form-item
                            input(type="checkbox" id="id_3" name="address-delivery")
                            label(for="id_3") мой адрес
                        div.form-item
                            input(type="checkbox" id="id_2" name="address-delivery")
                            label(for="id_2") Другой
                            div.catalog-delivery
                                div.form-item
                                    label.__gray Улица
                                    input(type="text").__small
                                div.form-item.__third.clearfix
                                    div.form-item-third
                                        label.__gray Дом
                                        input(type="text").__small
                                    div.form-item-third
                                        label.__gray Корпус
                                        input(type="text").__small
                                    div.form-item-third
                                        label.__gray Дом
                                        input(type="text").__small

            div.__person-login.heading.js-toggle-btn.catalog-toggle.__active(data-default="")
                div.title-1 Контактоное лицо
                a(href="#").button.__login Войти
            div.catalog-toggle-block.catalog-item
                div.form-item
                    input(type="text" placeholder="Введите ФИО").__small
                div.form-item
                    input(type="text" placeholder="Введите e-mail").__small
                div.form-item
                    input(type="text" placeholder="Введите телефон" data-mask="+7-(999)-999-99-99").__small



            div.heading.js-toggle-btn.catalog-toggle.__active(data-default="")
                div.title-1 Способы оплаты
            div.catalog-toggle-block
                div.catalog-item
                    input(type="radio" name="type_delivery" id="payment_1" checked)
                    label(for="payment_1") Наличные
                div.catalog-item
                    input(type="radio" name="type_delivery" id="payment_2" )
                    label(for="payment_2") Банковская карта
                div.catalog-item
                    input(type="radio" name="type_delivery" id="payment_3" )
                    label(for="payment_3") Онлайн кредит

            div.form-item.clearfix.promo-block
                input(type="text" placeholder="Введите промокод").promo-block-text.error.__small
                input(type="button" value="Применить").button.promo-block-btn

            div.heading.js-toggle-btn.catalog-toggle.__active(data-default="")
                div.title-1 Комментарий к заказу
            div.catalog-toggle-block
                textarea(placeholder="Введите текст комментария").__full-wide.__small

            div.catalog-total-price
                span.catalog-total-price-text Итого
                |139 000 <span class="rouble">a</span>
                p с учетом всех скидок и доставки

            input(type="submit" value="Оформить заказ").button.__big
