extends ./modules/layout/layout
block vars
    -var currentPageTitle = "Вход на сайт"
block title
    title= currentPageTitle

block block-content
    +breadcrumbs(['Вход в личный кабинет'], '>', true)
    div.wrapper
        div.heading
            h1=currentPageTitle
        div.content
            div.tab.__double.clearfix
                div.tab-item.__active.js-change-type-login(data-type="email") E-mail
                div.tab-item.js-change-type-login(data-type="phone") Номер телефона
            form(method="" action=).form
                div.form-item
                    input(type="text" placeholder="Электронная почта" name="USER_LOGIN").__big.error
                    div.error-msg Такого логина не существует
                div.form-item
                    input(type="password" placeholder="Пароль").__big
                input(type="submit" value="Войти на сайт").button.__wide.__big

                p.align-center
                    a(href="#") Забыли пароль?

                div.social-login
                    span.social-login-text Войти с помощью:
                    |<a href="#" target="_blank" rel="nofollow" class="social-item __vk"></a>
                    |<a href="#" target="_blank" rel="nofollow" class="social-item __fb"></a>

                a(href="#").form-item-bottom Зарегистрироваться

        include modules/subscribe/subscribe