// BASE
$BODY_BG = #f2f2f2

// Paths
$IMAGES_PATH = './images/'

// TEXT
$BASE_SIZE = 14px
$LINE_HEIGHT = 1.3
$FONT_COLOR = #000
$LINK_COLOR = #1f77c9
$LINK_COLOR_HOVER = #1f77c9 + 15%


//COLORS
$ERROR = #db5f46


// ADAPTIVE
$phone = 768px
$mobile = 320px