// BASE
$BODY_BG = #f2f2f2

// Paths
$IMAGES_PATH = './images/'

// TEXT
$BASE_SIZE = 20px
$ADAPTIVE_SIZE = 16px
$LINE_HEIGHT = 1.5
$FONT_COLOR = #000
$LINK_COLOR = #1f77c9
$LINK_COLOR_HOVER = #1f77c9 + 15%


//COLORS
$LIGHT_GREY = #cfcfcf
$DARK_GREY = #e7e7e7
$GREY = #d7d7d7
$BLUE  = #1f77c9 //standart blue on site
$ERROR = #db5f46

// ADAPTIVE
$default = 620px
$smartphone = 650px
$rebuild = 520px
$prebuild = 560px