/*

a — Arial Regular
b — Arial Italic
c — Arial Bold
d — Arial Bold Italic
e — Georgia Regular
f — Georgia Italic
g — Georgia Bold
h — Georgia Bold Italic
i — Tahoma Regular
j — Tahoma Bold
k — Times Regular
l — Times Italic
m — Times Bold
n — Times BoldItalic
o — Lucida Sans
p — Lucida Sans Bold
q — Verdana Regular
r — Verdana Italic
s — Verdana Bold
t — Verdana Bold Italic
u — Futura
v — Trump Mediaeval
w — ITC Studio Script

*/
@font-face
	font-family: 'rouble'
	src: url('fonts/rouble/rouble-webfont.eot')
	src: url('fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/rouble/rouble-webfont.woff') format('woff'),
			url('fonts/rouble/rouble-webfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

.rouble,
.rub
	font-family:'rouble'
	font-weight: inherit
	font-style: inherit

font-MyriadPro()
	font-family 'MyriadPro', Optima, Arial, sans-serif

@font-face
	font-family: 'MyriadPro'
	font-weight: 700
	font-style: normal
	src: url('fonts/MyriadPro/MyriadProBold.eot')
	src: url('fonts/MyriadPro/MyriadProBold.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProBold.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProBold.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProBold.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProBold.svg#MyriadProBold') format('svg')


@font-face 
	font-family: 'MyriadPro'
	font-weight: 700
	font-style: italic
	src: url('fonts/MyriadPro/MyriadProBoldItalic.eot')
	src: url('fonts/MyriadPro/MyriadProBoldItalic.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProBoldItalic.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProBoldItalic.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProBoldItalic.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProBoldItalic.svg#MyriadProBoldItalic') format('svg')


@font-face 
	font-family: 'MyriadProCond'
	font-weight: 400
	font-style: normal
	src: url('fonts/MyriadPro/MyriadProCond.eot')
	src: url('fonts/MyriadPro/MyriadProCond.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProCond.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProCond.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProCond.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProCond.svg#MyriadProCond') format('svg')


@font-face 
	font-family: 'MyriadProCond'
	font-weight: 700
	font-style: normal
	src: url('fonts/MyriadPro/MyriadProCondBold.eot')
	src: url('fonts/MyriadPro/MyriadProCondBold.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProCondBold.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProCondBold.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProCondBold.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProCondBold.svg#MyriadProCondBold') format('svg')


@font-face 
	font-family: 'MyriadProCond'
	font-weight: 700
	font-style: italic
	src: url('fonts/MyriadPro/MyriadProCondBoldItalic.eot')
	src: url('fonts/MyriadPro/MyriadProCondBoldItalic.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProCondBoldItalic.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProCondBoldItalic.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProCondBoldItalic.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProCondBoldItalic.svg#MyriadProCondBoldItalic') format('svg')


@font-face 
	font-family: 'MyriadProCond'
	font-weight: 400
	font-style: italic
	src: url('fonts/MyriadPro/MyriadProCondItalic.eot')
	src: url('fonts/MyriadPro/MyriadProCondItalic.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProCondItalic.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProCondItalic.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProCondItalic.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProCondItalic.svg#MyriadProCondItalic') format('svg')

@font-face 
	font-family: 'MyriadProCond'
	font-weight: 300
	font-style: normal
	src: url('fonts/MyriadPro/MyriadProCondLight.eot')
	src: url('fonts/MyriadPro/MyriadProCondLight.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProCondLight.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProCondLight.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProCondLight.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProCondLight.svg#MyriadProCondLight') format('svg')

@font-face 
	font-family: 'MyriadProCond'
	font-weight: 300
	font-style: italic
	src: url('fonts/MyriadPro/MyriadProCondLightItalic.eot')
	src: url('fonts/MyriadPro/MyriadProCondLightItalic.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProCondLightItalic.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProCondLightItalic.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProCondLightItalic.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProCondLightItalic.svg#MyriadProCondLightItalic') format('svg')

@font-face 
	font-family: 'MyriadPro'
	font-weight: 400
	font-style: italic
	src: url('fonts/MyriadPro/MyriadProItalic.eot')
	src: url('fonts/MyriadPro/MyriadProItalic.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProItalic.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProItalic.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProItalic.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProItalic.svg#MyriadProItalic') format('svg')

@font-face 
	font-family: 'MyriadPro'
	font-weight: 300
	font-style: normal
	src: url('fonts/MyriadPro/MyriadProLight.eot')
	src: url('fonts/MyriadPro/MyriadProLight.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProLight.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProLight.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProLight.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProLight.svg#MyriadProLight') format('svg')

@font-face 
	font-family: 'MyriadPro'
	font-weight: 300
	font-style: italic
	src: url('fonts/MyriadPro/MyriadProLightItalic.eot')
	src: url('fonts/MyriadPro/MyriadProLightItalic.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProLightItalic.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProLightItalic.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProLightItalic.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProLightItalic.svg#MyriadProLightItalic') format('svg')

@font-face 
	font-family: 'MyriadPro'
	font-weight: 400
	font-style: normal
	src: url('fonts/MyriadPro/MyriadProRegular.eot')
	src: url('fonts/MyriadPro/MyriadProRegular.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProRegular.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProRegular.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProRegular.svg#MyriadProRegular') format('svg')

@font-face 
	font-family: 'MyriadPro'
	font-weight: 600
	font-style: normal
	src: url('fonts/MyriadPro/MyriadProSemiBold.eot')
	src: url('fonts/MyriadPro/MyriadProSemiBold.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProSemiBold.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProSemiBold.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProSemiBold.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProSemiBold.svg#MyriadProSemiBold') format('svg')

@font-face 
	font-family: 'MyriadPro'
	font-weight: 600
	font-style: italic
	src: url('fonts/MyriadPro/MyriadProSemiBoldItalic.eot')
	src: url('fonts/MyriadPro/MyriadProSemiBoldItalic.eot') format('embedded-opentype'),
			url('fonts/MyriadPro/MyriadProSemiBoldItalic.woff2') format('woff2'),
			url('fonts/MyriadPro/MyriadProSemiBoldItalic.woff') format('woff'),
			url('fonts/MyriadPro/MyriadProSemiBoldItalic.ttf') format('truetype'),
			url('fonts/MyriadPro/MyriadProSemiBoldItalic.svg#MyriadProSemiBoldItalic') format('svg')
