.icon
    font-size: 10px;

.icon
	&:before
		content:' ';
		vertical-align:middle;
		display: inline-block;
		background-image: url("s./images/sprite-icons.svg");
		background-repeat: no-repeat;
		background-size: 97em 399em;


.advantages_1
	&:before
	   background-position: -0.5em -0.5em;
	   width: 96em;
	   height: 56em;


.advantages_2
	&:before
	   background-position: -0.5em -57.5em;
	   width: 96em;
	   height: 56em;


.advantages_3
	&:before
	   background-position: -0.5em -114.5em;
	   width: 96em;
	   height: 56em;


.basket
	&:before
	   background-position: -0.5em -171.5em;
	   width: 96em;
	   height: 56em;


.detail-arrow
	&:before
	   background-position: -0.5em -228.5em;
	   width: 96em;
	   height: 56em;


.menu
	&:before
	   background-position: -0.5em -285.5em;
	   width: 96em;
	   height: 56em;


.search
	&:before
	   background-position: -0.5em -342.5em;
	   width: 96em;
	   height: 56em;

