.catalog
	position relative
	margin-bottom 20px
	+below($rebuild)
		margin-bottom 10px
	p
		margin 0
		line-height normal
	&-item
		position relative

		background #fff
		border 1px solid $LIGHT_GREY
		border-radius 5px
		padding 30px
		margin-bottom -1px
		+below($rebuild)
			padding 10px 15px
		&:first-child
			border-top 0
			border-radius 0 0 5px 5px
		& ^[0]-title
			padding-right 75px
			& + small
				padding-right 75px
	&-title
		display inline-block
		margin-bottom 40px
		color #000
		font-size 24px
		_text-overflow()
		max-width 100%
		+below($rebuild)
			font-size 18px
			line-height normal
			margin-bottom 20px
		& +  small
			display block
			margin-top -50px
			margin-bottom 20px
			+below($rebuild)
				margin-top -25px
				margin-bottom 10px
	&-left, &-right
		width 50%
		border-box()
		padding 0 10px
		+below($rebuild)
			float none
			width 100%
	&-left
		float left
	&-right
		float right
	&-preview
		content-center(100%, 165px)
		display block
		margin-bottom 40px
		+below($rebuild)
			height 125px
			margin-bottom 20px
	&-compare
		display inline-block
		position relative
		&.__active
			&:before
				background-color #333
		+below($rebuild)
			margin 0 0 20px
		&:before
			content ''
			width 28px
			height 28px
			display inline-block
			vertical-align middle
			margin -5px 5px 0 0
			border-radius 5px
			background $BLUE images('icons/compare.png') 50% 50% no-repeat
	&-info
		margin-bottom 60px
		+below($rebuild)
			margin-bottom 20px
	&-price
		margin-top -60px
		+below($rebuild)
			margin 0 0 10px
		&-old
			color #9c9c9c
			margin-bottom 7px
			> span
				text-decoration line-through
	&-pagination
		color #9c9c9c
		margin-bottom 20px
		text-align center
		+below($rebuild)
			margin-bottom 10px
	&-colors
		position relative
		padding 0 20px
		&-text, &-item
			display inline-block
			vertical-align middle
		&-item
			max-width 70px
			max-height 100px
			margin-right 40px
			margin-bottom 10px
			img
				max-height 100px
				+below($rebuild)
					max-height 50px
			+below($rebuild)
				margin-right 15px
		&-text
			margin-bottom 10px
			margin-right 55px
			+below($rebuild)
				display block
			+below($rebuild)
				margin-right 15px

	&-item
		&-info
			padding 0 0 20px
			color #9c9c9c
			+below($rebuild)
				padding-bottom 10px

			.catalog-price-old
				float left
				width 50%
				margin 5px 0 0 0
				text-align left
				span
					white-space nowrap
				+below($rebuild)
					float none
					text-align center
					width 100%
		&-price
			float right
			white-space nowrap
			font-weight bold
			font-size 40px
			color #000
			width 50%
			line-height 40px
			text-align right
			+below($rebuild)
				font-size 26px
				line-height 26px
				float none
				width 100%
				text-align center
			&.__wide
				float none
				text-align left
				margin-bottom 15px
				+below($rebuild)
					margin-bottom 10px
			span
				font-weight normal
		&-content
			margin-bottom 20px
			.catalog-toggle.__active + .catalog-toggle-desc
				margin-bottom 0
			+below($rebuild)
				margin-bottom 10px
			.catalog-toggle-desc
				& + .catalog-toggle
					margin-top -2px
		&-action
			text-align center
			margin-bottom 25px
			+below($rebuild)
				margin-bottom 0
			.__add-basket
				margin-bottom 0
				& + ^[2]-info
					border-radius 0 0 4px 4px
					margin-top -8px
					padding-top 20px
					+below($rebuild)
						padding-top 15px
			&-info
				padding 12px
				text-align center
				background #fff
				border-radius 4px
				border 1px solid $LIGHT_GREY
				margin-bottom 20px
				+below($rebuild)
					margin-bottom 10px
					padding 8px
				& + &
					margin-top -21px
					+below($rebuild)
						margin-top -11px
			.button-inverse
				width 100%
				text-align center
				font-weight bold
				font-size 24px
				margin-bottom 20px
				border-radius 10px
				+below($rebuild)
					font-size 18px

	&-toggle
		position relative
		padding-right 60px
		cursor pointer
		border-radius 4px
		&[data-default="small"]
			padding-right 60px
		&.__active
			border-radius 4px 4px 0 0
			& + ^[0]-list-cabinet, & + ^[0]-toggle-block
				opacity 1
				visibility visible
				height inherit
				overflow inherit
				margin-bottom: 20px;
				+below($rebuild)
					margin-bottom: 10px;
			& + ^[1]-desc
				opacity 1
				visibility visible
				height inherit
				overflow inherit
				padding: 30px;
				border-width 1px
				margin-bottom: 20px;
				+below($rebuild)
					padding: 10px 15px;
				    margin-bottom: 10px;

			&:before
				width: 31px;
				height: 19px;
				margin-top -10px
				background images('icons/detail-arrow-open.png') no-repeat
				+below($rebuild)
					background url("./images/icons/detail-arrow-small-open.png") no-repeat
					width 22px
					height 12px
					margin-top -6px
		&:before
			content ''
			display block
			position absolute
			width 19px
			height 31px
			top: 50%
			margin-top -15px
			right: 20px;
			background images('icons/detail-arrow.png') no-repeat
			+below($rebuild)
				background url("./images/icons/detail-arrow-small.png") no-repeat
				width 13px
				height 21px
				margin-top -10px
		&-desc
			opacity 0
			visibility hidden
			height 0
			overflow hidden
			border-box()
			border-width 0
			padding 0
			margin 0
	&-options
		position relative
		margin-bottom 15px
		&-title
			font-weight bold
			margin-bottom 5px
			border-bottom 1px solid #000
		&-name
			display inline-block
			vertical-align top
			width 45%
			border-box()
			margin 0
			padding-right 10px
			+below($rebuild)
				display block
				width 100%
		&-desc
			margin 0
			display inline-block
			vertical-align top
			border-box()
			width 53%
			+below($rebuild)
				display block
				width 100%
	&-list-cabinet
		opacity 0
		visibility hidden
		height 0
		overflow hidden
		border-box()
		padding 0
		margin 0
		.catalog-item
			border 0
			padding 0
		.catalog-item-price
			float none
			text-align left
	&-toggle-block
		opacity 0
		visibility hidden
		height 0
		overflow hidden
		border-box()
		padding 0
		margin 0
		&.catalog-item
			border-top 0
			padding 30px
			border-radius 0 0 5px 5px
			+below($rebuild)
				padding 15px
	&-remove-basket
		position absolute
		top 15px
		right 15px
		z-index 2
		background images('icons/close-big.png') no-repeat
		display block
		width 47px
		height 47px
		cursor pointer
		+below($rebuild)
			background images('icons/close-small.png') no-repeat
			size(32px)

	&-delivery
		margin 20px 0 0 70px
		+below($rebuild)
			margin 10px 0 0 0
	&-total-price
		font-size 72px
		font-weight bold
		text-align right
		line-height normal
		margin-bottom 5px
		+below($rebuild)
			font-size 48px
		.rouble
			font-weight normal
			font-size 68px
			+below($rebuild)
				font-size 40px
		&-text
			display block
			font-size 40px
			+below($rebuild)
				font-size 20px
		p
			font-size 18px
			font-weight normal
			+below($rebuild)
				font-size 14px

