div.catalog
    div.catalog-item.clearfix
        a(href="#").catalog-title Apple iMac 21.5" Late 2015 (MK142RU/A)
        div.catalog-left
            a(href="#").catalog-preview
                img(src="./template/images/examples/catalog.png" alt="" title="")
        div.catalog-right.catalog-info
            p
                a(href="#") В наличии в 14 магазинах
            p Привезем для вас к 26.07.2016 бесплатно

        div.clearfix
        div.catalog-left
            a(href="#").catalog-compare  В сравнение
        div.catalog-right.catalog-price
            div.catalog-price-old Старая цена:
                span 94 290 <span class="rouble">a</span>
            a(href="#").button.__add-basket
                span.products-price 139 000  #[span.rouble a]
    div.catalog-item.clearfix
        a(href="#").catalog-title Apple iMac 21.5" Late 2015 (MK142RU/A)
        div.catalog-left
            a(href="#").catalog-preview
                img(src="./template/images/default.png" alt="" title="")
        div.catalog-right.catalog-info
            p
                a(href="#") В наличии в 14 магазинах
            p Привезем для вас к 26.07.2016 бесплатно

        div.clearfix
        div.catalog-left
            a(href="#").catalog-compare.__active  Сравнить
        div.catalog-right.catalog-price
            div.catalog-price-old Старая цена:
                span 94 290 <span class="rouble">a</span>
            a(href="#").button.__add-basket
                span.products-price 39 000  #[span.rouble a]

    div.catalog-item.clearfix
        a(href="#").catalog-title Apple iMac 21.5" Late 2015 (MK142RU/A)
        div.catalog-left
            a(href="#").catalog-preview
                img(src="./template/images/examples/catalog.png" alt="" title="")
        div.catalog-right.catalog-info
            p
                a(href="#") В наличии в 14 магазинах
            p Привезем для вас к 26.07.2016 бесплатно

        div.clearfix
        div.catalog-left
            a(href="#").catalog-compare  В сравнение
        div.catalog-right.catalog-price
            div.catalog-price-old Старая цена:
                span 94 290 <span class="rouble">a</span>
            a(href="#").button.__add-basket
                span.products-price 139 000  #[span.rouble a]

div.catalog-pagination Показаны 3 из 25

a(href="#").show-more Показать ещё

a(href="#").show-more.__loading Показать ещё
