div.contacts-list
    div.title-2 Санкт-Петербург
    div.contacts-list-item.js-init-map(data-lat="59.931658" data-lng="30.359533" data-id="30128")
        div.title-3.contacts-list-title iPort в ТК "Невский центр"
        div Невский пр., д.116
        div Телефон: +7 (812) 449-39-29
        div Время работы: Ежедневно с 10:00 до 23:00
        div.contacts-list-metro.__line-1 Метро «Невский проспект»
        a(href="#").contacts-list-show.js-show-map Показать на карте
        |<div class="contacts-list-map" id="map30128"></div>

    div.contacts-list-item.js-init-map(data-lat="60.007571" data-lng="30.259726" data-id="301285")
        div.title-3.contacts-list-title iPort в ТРК "Атмосфера"
        div Невский пр., д.116
        div Телефон: +7 (812) 449-39-29
        div Время работы: Ежедневно с 10:00 до 23:00
        div.contacts-list-metro.__line-2 Метро «Невский проспект»
        a(href="#").contacts-list-show.js-show-map Показать на карте
        |<div class="contacts-list-map" id="map301285"></div>


    div.contacts-list-item.js-init-map(data-lat="60.059165" data-lng="30.335008" data-id="301281")
        div.title-3.contacts-list-title iPort в ТРК "Гранд-Каньон"
        div Невский пр., д.116
        div Телефон: +7 (812) 449-39-29
        div Время работы: Ежедневно с 10:00 до 23:00
        div.contacts-list-metro.__line-3 Метро «Невский проспект»
        a(href="#").contacts-list-show.js-show-map Показать на карте
        |<div class="contacts-list-map" id="map301281"></div>

    div.contacts-list-item.js-init-map(data-lat="59.933518" data-lng="30.43897" data-id="301282")
        div.title-3.contacts-list-title iPort в ТРК "Заневский Каскад 3"
        div Невский пр., д.116
        div Телефон: +7 (812) 449-39-29
        div Время работы: Ежедневно с 10:00 до 23:00
        div.contacts-list-metro.__line-4 Метро «Невский проспект»
        a(href="#").contacts-list-show.js-show-map Показать на карте
        |<div class="contacts-list-map" id="map301282"></div>

    div.contacts-list-item.js-init-map(data-lat="59.8836402" data-lng="30.3690434" data-id="301283")
        div.title-3.contacts-list-title iPort в ТРК "Континент на Бухарестской"
        div Невский пр., д.116
        div Телефон: +7 (812) 449-39-29
        div Время работы: Ежедневно с 10:00 до 23:00
        div.contacts-list-metro.__line-5 Метро «Невский проспект»
        a(href="#").contacts-list-show.js-show-map Показать на карте
        |<div class="contacts-list-map" id="map301283"></div>


