.contacts-list
	position relative
	font-size 28px
	line-height 40px
	+below($rebuild)
		font-size 20px
		line-height normal
	&-item
		margin 35px 0
		+below($rebuild)
			margin 20px 0
	&-title
		margin-bottom 15px
	&-metro
		+below($rebuild)
			margin 5px 0
		&.__line-1
			&:before
				background #f34040
		&.__line-2
			&:before
				background #0065c2
		&.__line-3
			&:before
				background green
		&.__line-4
			&:before
				background #ffa729
		&.__line-5
			&:before
				background #cd36d6
		&:before
			content ''
			display inline-block
			vertical-align middle
			size(22px)
			margin-right 15px
			background #eee
			position relative
			top -2px
			border-radius 50%
	&-show
		font-weight 600
		&:before
			content ''
			display inline-block
			vertical-align middle
			width 22px
			margin-right 15px
			height 32px
			position relative
			top -2px
			background url('./images/icons/icon-map.png') no-repeat
	&-big-map

		width: 100%;
		height: 500px;
		margin-bottom: 20px;
	&-map
		width 100%
		height 250px
		display none
		margin-top 15px
