div.popup-info.popup-filter#catalog-filter
    div.popup-info-close.js-popup-info-close
    form(method="" action="").popup-filter-wrapper
        div.popup-filter-btns
            button(type="reset").button-reset Сбросить
            input(type="submit" value="Применить").button
        div.popup-filter-title.js-toggle-btn Цена
        div.popup-filter-desc.__category
            a(href="#").filter-category 60 000 - 70 000
            a(href="#").filter-category 70 000 - 80 000
            a(href="#").filter-category 80 000 - 90 000
            a(href="#").filter-category 90 000 - 100 000
            a(href="#").filter-category 100 000 - 110 000

        div.popup-filter-title.js-toggle-btn Акции
        div.popup-filter-desc
            div.popup-filter-item
                input(type="checkbox" id="action-1")
                label(for="action-1") Летний сезон подарков открыт!
            div.popup-filter-item
                input(type="checkbox" id="action-2")
                label(for="action-2") В лето вместе с JBL!
            div.popup-filter-item
                input(type="checkbox" id="action-3")
                label(for="action-3") 500 р. В нашу пользу!

        div.popup-filter-title.js-toggle-btn Наличие в магазинах
        div.popup-filter-desc
            div.popup-filter-item
                input(type="checkbox" id="action-111")
                label(for="action-111") 2
            div.popup-filter-item
                input(type="checkbox" id="action-222")
                label(for="action-222") 3
            div.popup-filter-item
                input(type="checkbox" id="action-333")
                label(for="action-333") 4

        div.popup-filter-title.js-toggle-btn Тип устрйоства
        div.popup-filter-desc
            div.popup-filter-item
                input(type="checkbox" id="action-1111")
                label(for="action-1111") Крепёж
            div.popup-filter-item
                input(type="checkbox" id="action-2222")
                label(for="action-2222") Моноблок
            div.popup-filter-item
                input(type="checkbox" id="action-3333")
                label(for="action-3333") ПК

        div.popup-filter-title.js-toggle-btn Процессор: Количество ядер
        div.popup-filter-desc
            div.popup-filter-item
                input(type="checkbox" id="action-11")
                label(for="action-11") 2
            div.popup-filter-item
                input(type="checkbox" id="action-22")
                label(for="action-22") 3
            div.popup-filter-item
                input(type="checkbox" id="action-33")
                label(for="action-33") 4


        div.popup-filter-btns
            button(type="reset").button-reset Сбросить
            input(type="submit" value="Применить").button