div.compare
    div.compare-wrapper.js-compare-wrapper
        div.compare-products.clearfix
            -for (var i=0;i<4;i++)
                div.compare-item.clearfix.js-compare-item.__products
                    a(href="#").compare-remove
                    a(href="#").products-link
                        div.products-title Apple iPhone 6s Plus 64GB серебристый
                        div.products-preview
                            img(src="./template/images/examples/product_1.png" alt="Apple iPhone 6s Plus 64GB серебристый" title="Apple iPhone 6s Plus 64GB серебристый")
                    a(href="#").button.__add-basket
                        span.products-price 71 990 #[span.rouble a]
                    p
                        a(href="#") В наличии в 14 магазинах
                    p.products-attention Привезем для вам к 26.07.2016 бесплатно

        div.compare-option
            div.title-3.compare-option-title Разрешение экрана
            div.compare-option-wrapper.clearfix
                -for (var i=0;i<4;i++)
                    div.compare-item.compare-option-item  1334x750

        div.compare-option
            div.title-3.compare-option-title Тип сенсорного экрана
            div.compare-option-wrapper.clearfix
                -for (var i=0;i<2;i++)
                    div.compare-item.compare-option-item  3D Touch
                    div.compare-item.compare-option-item  емкостный <br/>(multitouch)

        div.compare-option
            div.title-3.compare-option-title Автофокусировка
            div.compare-option-wrapper.clearfix
                -for (var i=0;i<2;i++)
                    div.compare-item.compare-option-item
                        div.compare-check
                    div.compare-item.compare-option-item
                        div.compare-none
        div.compare-option
            div.title-3.compare-option-title Процессор
            div.compare-option-wrapper.clearfix
                -for (var i=0;i<4;i++)
                    div.compare-item.compare-option-item  Apple A7 1,4ГГц
        div.compare-option
            div.title-3.compare-option-title Производитель
            div.compare-option-wrapper.clearfix
                -for (var i=0;i<4;i++)
                    div.compare-item.compare-option-item  Apple
