-var category = [];

-category[0] = {};
-category[0].name="iPhone";
-category[0].code="iphone";

-category[1] = {};
-category[1].name="iPad";
-category[1].code="ipad";

-category[2] = {};
-category[2].name="Mac";
-category[2].code="mac";

-category[3] = {};
-category[3].name="Watch";
-category[3].code="watch";

-category[4] = {};
-category[4].name="iPod и Apple TV";
-category[4].code="other";

-category[5] = {};
-category[5].name="Аксессуары";
-category[5].code="accessories";

div.category-main.clearfix
    -for(i = 0; i < category.length; i++)
        a(href="#").category-main-item
            div.category-main-wrapper
                img(src="./template/images/type_products/#{category[i].code}.png" alt="#{category[i].code}" title="#{category[i].name}")
            span.category-main-title!=category[i].name