div.js-main-slider.main-slider
    -for(var i = 0; i < 2; i++)
        div.main-slider-item
            img(src="./template/images/examples/main-slider/#{i+1}.png" alt="" title="").main-slider-image

