div.heading
    div.title-1 Новости
    a(href="#").heading-detail Все новости

div.content.clearfix
    div.news-preview
        img(src="./template/images/examples/news.png" alt="" title="")
    div.news-desc
        a(href="#") Летний сезон открыт подарков!