.news
	position relative
	&-preview
		position relative
		display inline-block
		vertical-align middle
		content-center(50px)
		float left
		img
			border-radius 50%
		& + ^[0]-desc
			margin-left 74px
			margin-top 10px
	&-desc
		font-size 24px
		line-height normal
		+below($rebuild)
			font-size 18px
	&-list
		margin-bottom -30px
		font-size 28px
		+below($rebuild)
			font-size 20px
			margin-bottom -15px
		&-item
			position relative
			padding 30px
			border-top 1px solid $LIGHT_GREY
			margin 0 -30px 20px
			p
				margin 0
			&:first-child
				padding-top 0
				border-top 0
			+below($rebuild)
				padding 15px
				margin 0 -15px 10px
		&-preview
			margin 0 -30px 20px
			text-align center
			display block
			+below($rebuild)
				margin 0 -15px 10px
		&-range
			margin 20px 0
			font-weight bold
			font-size 20px
			+below($rebuild)
				margin 10px 0
				font-size 16px
			&:before
				content ''
				display inline-block
				vertical-align middle
				width 29px
				height 29px
				margin-top -3px
				margin-right 10px
				background images("icons/calendar.png") no-repeat

