div.popup-info.menu#main-menu
    div.popup-info-close.js-popup-info-close
    div.menu-action
        a(href="#").menu-change-city
        a(href="#").menu-login Войти
    div.menu-item
        a(href="#").menu-item-link Адреса магазинов
    div.menu-item
        a(href="#").menu-item-link Сервис-центр

    div.menu-main
        div.menu-main-item.__sublevel
            a(href="#").menu-main-link.js-menu-sublevel iPhone
            div.menu-main-sublevel
                div.menu-main-item
                    a(href="#").menu-main-link Компьютер
                div.menu-main-item
                    a(href="#").menu-main-link Ноутбук
                div.menu-main-item.__sublevel
                    a(href="#").menu-main-link.js-menu-sublevel Аксессуары для Mac
                    div.menu-main-sublevel
                        div.menu-main-item
                            a(href="#").menu-main-link Компьютер
                        div.menu-main-item
                            a(href="#").menu-main-link Ноутбук
                        div.menu-main-item
                            a(href="#").menu-main-link Аксессуары для Mac
        div.menu-main-item.__sublevel
            a(href="#").menu-main-link.js-menu-sublevel iPad
            div.menu-main-sublevel
                div.menu-main-item
                    a(href="#").menu-main-link Компьютер
                div.menu-main-item
                    a(href="#").menu-main-link Ноутбук
                div.menu-main-item.__sublevel
                    a(href="#").menu-main-link.js-menu-sublevel Аксессуары для Mac
                    div.menu-main-sublevel
                        div.menu-main-item
                            a(href="#").menu-main-link Компьютер
                        div.menu-main-item
                            a(href="#").menu-main-link Ноутбук
                        div.menu-main-item
                            a(href="#").menu-main-link Аксессуары для Mac
        div.menu-main-item.__sublevel
            a(href="#").menu-main-link.js-menu-sublevel Mac
            div.menu-main-sublevel
                div.menu-main-item
                    a(href="#").menu-main-link Компьютер
                div.menu-main-item
                    a(href="#").menu-main-link Ноутбук
                div.menu-main-item.__sublevel
                    a(href="#").menu-main-link.js-menu-sublevel Аксессуары для Mac
                    div.menu-main-sublevel
                        div.menu-main-item
                            a(href="#").menu-main-link Компьютер
                        div.menu-main-item
                            a(href="#").menu-main-link Ноутбук
                        div.menu-main-item
                            a(href="#").menu-main-link Аксессуары для Mac
        div.menu-main-item
            a(href="#").menu-main-link Watch
        div.menu-main-item
            a(href="#").menu-main-link iPod и AppleTV
        div.menu-main-item
            a(href="#").menu-main-link Аксессуары
        div.menu-main-item
            a(href="#").menu-main-link Аудио
        div.menu-main-item
            a(href="#").menu-main-link Фото и видео
        div.menu-main-item
            a(href="#").menu-main-link Услуги


    div.menu-item
        a(href="#").menu-item-link Акции
    div.menu-item
        a(href="#").menu-item-link Покупки в кредит
    div.menu-item
        a(href="#").menu-item-link Для бизнеса
    div.menu-item
        a(href="#").menu-item-link Бнусы за подписку

    a(href="tel:+78123414222").menu-phone +7 (812) 341-42-22
