.menu
	font-size 28px
	+below($rebuild)
		font-size 22px
	&-action
		position relative
		margin-bottom 35px
		+below($rebuild)
			margin-bottom 20px
	&-change-city
		padding-right: 36px;
		margin-right 40px
		background images('icons/blue-arrow.png') no-repeat 100% 50%
		+below($rebuild)
			margin-right 15px
		&:before
			content ''
			background url("./images/icons/change-city.png") no-repeat
			width 30px
			height 44px
			display inline-block
			vertical-align middle
	&-login
		color #333
		&:before
			content ''
			background url("./images/icons/login.png") no-repeat
			width 40px
			margin-right 12px
			height 40px
			display inline-block
			vertical-align middle
	&-item
		position relative
		margin-bottom 20px
		+below($rebuild)
			margin-bottom 10px
		&-link
			color #363636
	&-phone
		margin 10px -40px 0
		text-align center
		color: #000;
		background: #f2f2f2;
		padding: 0 10px;
		font-size: 56px;
		font-weight: 700;
		line-height: 98px;
		height: 90px;
		white-space: nowrap;
		display: block;
		+below($rebuild)
			font-size: 32px;
			line-height: 74px;
			height: 70px;
			margin 10px -15px 0
	&-main
		position relative
		margin 27px -40px
		+below($rebuild)
			margin 15px -15px
		&-item
			border-bottom: 1px dotted #363636;
			position: relative;
			&:first-child
				border-top: 1px dotted #363636;
			&.__sublevel
				& > ^[1]-link
					padding: 13px 60px 13px 40px;
					+below($rebuild)
						padding: 8px 30px 8px 15px;
				&.__active
					border-bottom 0
					border-top 0
					> .menu-main-sublevel
						display block
					&:after
						display none
					& > ^[1]-link
						color $BLUE
						&:before
							content ''
							background: url("./images/icons/arrow-prev-menu.png") no-repeat;
							display inline-block
							vertical-align middle
							position relative
							top 0
							left 0
							margin -3px 14px 0 0
							width 14px
							height 23px

				&:after
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					right: 40px;
					background: url("./images/icons/detail-arrow-small.png") no-repeat;
					width: 13px;
					height: 21px;
					margin-top: -10px;
					+below($rebuild)
						right: 15px;
		&-sublevel
			display none
		&-link
			color #363636
			display block
			cursor: pointer;
			font-weight: 600;
			margin: 0;
			line-height: 36px;
			font-size: 36px;
			padding: 13px 40px;
			position relative
			&.__active
				color $BLUE
			+below($rebuild)
				font-size: 22px;
				padding: 8px 15px;
				line-height: 22px;
