div.filter
    div.filter-line.clearfix
        div.filter-sort
            select.__default
                option Популярные
                option Сначала недорогие
        div.filter-btn(data-popup-info="#catalog-filter").js-show-info-popup Фильтры

    div.filter-line.__category
        span.filter-category.__active Все
        a(href="#").filter-category Apple iMac
        a(href="#").filter-category Apple Mac mini
        a(href="#").filter-category Apple MacBook 12"
        a(href="#").filter-category Apple MacBook Air
        a(href="#").filter-category Apple MacBook Pro
        a(href="#").filter-category Мониторы

include ../popup-filter/popup-filter





