.filter
	position relative
	border 1px solid $LIGHT_GREY
	gradient-linear(#fff, #f2f2f2)
	& + .content
		border-top 0
		border-radius 0 0 5px 5px
	.heading + &
		border-top 0
	&-line
		padding 15px 27px
		&.__category
			padding-top 0
		+below($rebuild)
			padding 8px 15px
		& + &
			border-top 1px solid $LIGHT_GREY
	&-sort
		float left
		width 57%
		&-option
			display inline-block
			overflow hidden
			position relative
			margin-bottom -8px
			//&:after
			//	width 20px
			//	height 100%
			//	content ''
			//	display block
			//	position absolute
			//	top 0
			//	right 0
			//	background #fff images('icons/icon-select.png') no-repeat 50% 50%

		.__default
			background transparent
			line-height normal
			height inherit
			font-size 28px
			font-weight 600
			color $BLUE
			padding 0
			border none
			cursor pointer
			display inline-block
			width auto
			//max-width 190px
			+below($rebuild)
				font-size 16px
			option
				color $FONT_COLOR

	&-btn
		float right
		white-space nowrap
		width 40%
		text-align right
		color $BLUE
		font-weight 600
		font-size 28px
		cursor pointer
		line-height normal
		+below($rebuild)
			font-size 16px
		&:before
			content ''
			background images('icons/icon-filter.png') no-repeat
			display inline-block
			vertical-align middle
			margin-right 5px
			width 21px
			height 20px
	&-category
		border-radius 4px
		border 1px solid $BLUE
		padding 8px 17px 4px 17px
		display inline-block
		font-size 24px
		margin 15px 15px 0 0
		+below($rebuild)
			margin 8px 0 0 0
			font-size 13px
			padding 6px 10px 3px 10px

		&.__active
			color #fff
			background #555
			border-color #555
