.benefits
	position relative
	border 1px solid $LIGHT_GREY
	border-radius 5px
	padding 20px 0
	margin-bottom 25px
	&-item
		line-height normal
		display inline-block
		vertical-align middle
		margin-bottom 10px
		width 49%
		border-box()
		padding 0 10px
		text-align center
		&.__market
			img
				+below($rebuild)
					max-width 50%

		+below($rebuild)
			width 100%
			display block
	&-icon
		content-center(100%, 33px)
		margin-bottom 10px
		img
			top inherit