div.benefits.clearfix
    -each item, index in getData('benefits.json')
        if(item.onlyIcon)
            a(href="#").benefits-item.__market
                img(src="./template/images/icons/yandex.png" alt="" title="")
        else
            a(href="#").benefits-item
                div.benefits-icon
                    img(src="./template/images/icons/#{item.icon}" alt="#{item.name}" title="#{item.name}")
                div.benefits-title!=item.name

