header.header
    div.wrapper.header__wrapper

        +logo(currentPageTitle, 'header')

        div.header__menu
            include ../menu/menu

        div.header__phone
            include ../phone/phone